<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Itens do Cardápio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Lista de Itens do Cardápio</h2>
    <a class="btn btn-primary mb-3" href="/itens-cardapios/novo">Novo Item</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${itens}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nome}"></td>
            <td th:text="${item.descricao}"></td>
            <td th:text="${item.preco}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/itens-cardapios/editar/{id}(id=${item.id})}">Editar</a>
                <a class="btn btn-danger" th:href="@{/itens-cardapios/deletar/{id}(id=${item.id})}">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
