<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pedidos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Pedidos</h1>
    <a class="btn btn-primary mb-3" href="/pedidos/novo">Adicionar Novo Pedido</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido : ${pedidos}">
            <td th:text="${pedido.id}">1</td>
            <td th:text="${pedido.cliente.nome}">Cliente Nome</td>
            <td th:text="${pedido.status}">PENDENTE</td>
            <td>
                <a class="btn btn-info" th:href="@{/pedidos/{id}(id=${pedido.id})}">Detalhes</a>
                <a class="btn btn-warning" th:href="@{/pedidos/editar/{id}(id=${pedido.id})}">Editar</a>
                <a class="btn btn-danger" th:href="@{/pedidos/deletar/{id}(id=${pedido.id})}">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
